p {
  color: rgb(18, 18, 231);
}

body {
  background-color: rgb(222, 230, 8);
}

h1 {
  font-size: 2em;
}

/* Padding and Margin */
div {
  padding: 20px;
  margin: 10px;
}

/* Table Styling */
table {
  width: 17%;
  border-collapse: collapse;
}

th, td {
  border: 2px solid #000000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  padding: 8px;
  width: 30%;
  border: 2px solid #0044ff;
  border-radius: 2px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
