body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}

h1, h2, h3 {
  color: #f8fafc;
}

section {
  padding: 3rem 0;
}

.navbar {
  margin-bottom: 2rem;
}

.card {
  background-color: #020617;
  color: #e5e7eb;
  border: 1px solid #1e293b;
}

.card img {
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: #020617;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}

img.responsive {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.transformation-text {
  font-size: 1.5rem !important;
  line-height: 1.8;
  color: #171718;
  text-align: center;
  margin-top: 1.5rem;
}

